.sneakerCard {
  color: black !important;
  margin-bottom: 2rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  max-width: 18rem;
  position: relative;
  top: 0;
  transition: top ease 0.5s;
  width: 18rem;

  &:hover {
    box-shadow: 5px 5px;
    cursor: pointer;
    text-decoration: none;
    top: -5px;
  }
}
